name: 22.Publish Docusaurus via GitHub Pages

on:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Build the Docusaurus site
      run: |
        pnpm build
      working-directory: website

    - name: Deploy GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.8.0
      with:
        branch: cf-pages
        folder: ./website/build
        clean: true
