name: 11.Run pre-commit

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Setup NPM Packages
      uses: ./.github/actions/setup-npm

    - name: Set executable permissions for local format scripts
      run: |
        chmod +x .bin/prettier.sh

    - name: Run pre-commit
      uses: egose/actions/precommit@c3000c229fec8ddd3d6f2d326900de8898168f3e
      with:
        config: .pre-commit-config.yaml
        commit-on-push: false
        commit-on-pr: false
