name: 20.Create Release Tag

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Tag Version (e.g. 1.2.3). Leave empty to auto-determine based on conventional commits.
        required: false
        default: ''

jobs:
  tag-changelog:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Setup NPM Packages
        uses: ./.github/actions/setup-npm

      - name: Create Release Tag
        uses: egose/actions/release-tag@5dfa6fc0c0153a43fb5a127047e724dee0f2ed07
        with:
          tag: ${{ github.event.inputs.tag }}
          ssh-key: ${{ secrets.SSH_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
